fakeApp/project/build
fakeApp/project/output
linux/project/build
linux/project/output
lows/project/build
lows/project/output
OS/project/build
OS/project/output
fakeApp/project/build_debug/
fakeApp/project/ccache_tempfile/
