name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: ./AutoTools/AutoconfDemo/configure
    - name: make
      run: cd ./AutoTools/AutoconfDemo/;make
    - name: make check
      run: cd ./AutoTools/AutoconfDemo/;make check
    - name: make distcheck
      run: cd ./AutoTools/AutoconfDemo/;make distcheck
